* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-font: 'Barlow', sans-serifs;
    --title-font: 'Fraunces', serif;
    --red: #fe7867;
    --yellow: #fad400;
    --gray: #a7abae;
    --white: #ffffff;
    --white2: rgba(255,255,255, 0.3);
    --graphic-text: #25564b;
    --photography-text: #19536b;
    --footer: #1f6656;
    --background: #FFFBFB;
    --footer-bg: #90d4c5;
}

body {
    font-family: var(--text-font);
    background-color: var(--background);
}

header {
    height: 80vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: bottom;
    background-size: cover;
    color: var(--white);
    padding: 32px 16px;
    display: grid;
    place-items: start center;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 700;
}

header .nav-menu{
    display: none;
}

header h1 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.info img {
    width: 100%;
}

.description {
    display: grid;
    padding: 80px 0px;
    place-items: center;
    height: 500px;
}

.description__title {
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    width: 300px;
}

.description__text {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray);
    text-align: center;
    line-height: 2rem;
    padding: 0px 12px;
}

.description__link {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
}

.line {
    height: 12px;
    width: 112%;
    position: absolute;
    left: -6%;
    bottom: -12%;
    z-index: -1;
    opacity: .3;
    border-radius: 10px;
    
}

.line-yellow {
    background-color: var(--yellow);
}

.line-red {
    background-color: var(--red);
}

.description__link:hover{
    cursor: pointer;
}

.description__link:hover .line-yellow{
    opacity: 1;
}

.description__link:hover .line-red{
    opacity: 1;
}

.container{
    height: 600px;
    background-size: cover;
}

.container.graphic{
    background-image: url(./images/mobile/image-graphic-design.jpg);
}

.container.photography{
    background-image: url(./images/mobile/image-photography.jpg);
}

.container .description{
    height: 108%;
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: flex-end;
}


.graphic *{
    color: var(--graphic-text);
}

.photography *{
    color: var(--photography-text);
}

.testimonials-title{
    font-family: var(--title-font);
    font-size: 1rem;
    color: var(--gray);
    text-align: center;
    height: 12vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: .2rem;
}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 400px;
    text-align: center;
}

.client__avatar{
    height: 76px;
    width: 76px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.client__avatar.emily{
    background-image: url(./images/image-emily.jpg);
}

.client__avatar.thomas{
    background-image: url(./images/image-thomas.jpg);
}

.client__avatar.jennie{
    background-image: url(./images/image-jennie.jpg);
}

.client__text{
    font-family: var(--text-font);
    font-size: 1.2rem;
    font-weight: 600;
    opacity: .7;
    line-height: 2rem;
    padding: 0 12px;
}

.client__name{
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 1rem;
}

.client__job{
    color: var(--gray);
    font-weight: 600;
    padding: 12px;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

picture img{
    height: 100%;
    width: 100%;
} 

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    color: var(--footer);
    height: 50vh;
    background-color: var(--footer-bg);
    padding: 64px 16px;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

footer .logo{
    font-weight: 900;
    font-size: 2rem;
    font-family: var(--text-font);
}

.options{
    display: flex;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 1.2rem;
    gap: 42px;
    opacity: .7;
}

.options p:hover{
    color: var(--white);
    cursor: pointer;
}

.social{
    display: flex;
    gap: 32px;
}

svg:hover path{
    fill: var(--white);
}

svg:hover{
    cursor: pointer;
}

@media (min-width: 1024px){
    
    header {
        height: 100vh;
        background-image: url(./images/desktop/image-header.jpg);
        padding: 32px 42px;
    }
    
    header .logo {
        font-size: 2.5rem;
    }
    
    header h1 {
        font-family: var(--title-font);
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .5rem;
    }
    
    header .menu{
        display: none;
    }

    header .nav-menu{
        display: flex;
        align-items: center;
        gap: 48px;
        font-style: var(--text-font);
        font-size: 1.2rem;
    }

    .contact{
        font-family: var(--title-font);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        height: 50px;
        width: 125px;
        border-radius: 24px;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contact:hover{
        background-color: var(--white2);
        cursor: pointer;
    }

    .contact:hover p{
        color: var(--white);
    }

    .info{
        display: grid;
        grid-column: 1fr 1fr 1fr;
    }

    .description {
        width: 50vw; 
    }

    .transform img{
        width: 50vw;
    }

    .transform{
        display: flex;
        height: 70vh;
        flex-direction: row-reverse;
    }

    .stand{
        display: flex;
        height: 70vh;
    }

    .stand img{
        width: 50vw;
    }

    .description {
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 12px;
        padding: 180px 0px 180px 150px;
        place-items: start;
        height: auto;
    }
    
    .description__title {
        font-size: 2.2rem;
        text-align: start;
        width: 300px;
    }
    
    .description__text {
        padding: 0px;
        text-align: start;
        place-self: center start;
        width: 84%;
    }
    
    .description__link {
        font-size: 1.2rem;
    }

    .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 70vh;
    }

    .container.graphic{
        background-image: url(./images/desktop/image-graphic-design.jpg);
    }

    .container.photography{
        background-image: url(./images/desktop/image-photography.jpg);
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: auto;
    }

    .container .description{
        gap: 24px;
        padding: 0px;
        height: 40%;
        align-items: center;
        justify-content: center;
    }
    
    .description__title__pictures{
        text-align: center;
    }

    .description__text__pictures{
        width: 55%;
        text-align: center;
    }

    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        gap: 64px;
    }

    .testimonials-title{
        height: auto;
        font-size: 1.6rem;
    }
    
    .clients{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 50%;
        align-content: center;
        justify-items: center;
    }

    .client{
        height: 500px;
        width: 86%;
    }  

    .client__name{
        font-size: 1.2rem;
    }

    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    picture img{
        height: 100%;
        width: 100%;
    } 

    footer{
        height: 40vh;
        gap: 64px;
    }

    footer .logo{
        font-size: 2.6rem;
    }

    .options{
        font-size: 1.6rem;
    }

}